<div class="bg-dark col-13 offset-0" style="padding-bottom:1rem; padding-top:0rem;margin-top:24rem">
  <footer class="py-5 px-5 mt-5 pb-0" >
    <div class="row">
        <h5 style="color:white">Top companies choose <%= link_to "Udemy Business", root_path%> to build in-demand career skills.</h5>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top" >
    <div class="col-2" style="color:white">
        <ul class="nav flex-column" style="color:white">
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Udemy Business</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Teach on Udemy</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Get the app</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">About us</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0">Contact us</a></li>
        </ul>
      </div>

      <div class="col-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Help and Support</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Affiliate</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Investors</a></li>
        </ul>
      </div>

      <div class="col-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Terms</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Sitemap</a></li>
          <li class="nav-item mb-2"><a href="#" style="color:white" class="nav-link p-0 ">Accessibility Statements</a></li>
        </ul>
      </div>
      <div class="col-4 offset-5 text-decoration-none">
        <form>
          <div class="">
            <button class="btn rounded-0 border-light btn-outline-secondary text-decoration-none" type="button" style="color:white">Subscribe</button>
          </div>
        </form>
      </div>
      <%
=begin%>
 <p>© 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul> 
<%
=end%>
    </div>
  </footer>
</div>