<%= render "nav" %>
<p class="fs-3 pt-3 pb-2 me-3 d-grid col-md-3 offset-md-4 fw-bold" style="text-align:center" >New Video</p>
<hr class="d-grid col-md-3 offset-md-4 fw-bold">
<%= render "form" %>
<%= render "foot" %>